
<div class=container span12>
  <div class="row">

		<div class="span1">
			<p><%= link_to('PairUp', home_path)  %></p>
   	</div>

		<div class="span4 offset2">
			<p>    
				<%= link_to('About', about_path)  %> • 
				<%= link_to('Contact Us', contact_path)  %> • 
				<%= link_to('Pricing', pricing_path)  %> • 
				<%= link_to('Terms of Use', terms_path)  %> • 
				<%= link_to('Privacy', privacy_path)  %>
	 
			</p>
   	</div>

		<div class="span2 offset3">
			<p>© 2012 PairUp</p>
   	</div>

	</div>
</div>
